<div class="row g-3">

  <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background-color: #ECF5FE;">
      <div class="card-icon"><i class="fa-solid fa-hourglass-half"></i></div>
      <div class="card-number">0</div>
      <div class="card-label">معاملات قيد التحضير</div>
    </div>
  </div>

    <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" routerLink="/incoming" style="background-color: #E0DACD;">
      <div class="card-icon"><i class="fa-solid fa-inbox"></i></div>
      <div class="card-number">4</div>
      <div class="card-label">الوارد الداخلي</div>
    </div>
  </div>


 <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background-color: #D5E2DF;">
      <div class="card-icon"><i class="fa-regular fa-file-lines"></i></div>
      <div class="card-number">75</div>
      <div class="card-label">نسخ الوارد الداخلي</div>
    </div>
  </div>


  <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background: #D4D8DB;">
      <div class="card-icon"><i class="fa-solid fa-stopwatch"></i></div>
      <div class="card-number">10</div>
      <div class="card-label">المتأخرات</div>
    </div>
  </div>

 
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background: #CECBCA;">
      <div class="card-icon"><i class="fa-solid fa-folder"></i></div>
      <div class="card-number">1</div>
      <div class="card-label">المحفوظات</div>
    </div>
  </div>
  
 <div class="col-12 col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-icon"><i class="fa-solid fa-clipboard-list"></i></div>
      <div class="card-number">14</div>
      <div class="card-label">المعاملات المنجزة</div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background: #E7DBCE;">
      <div class="card-icon"><i class="fa-solid fa-heart"></i></div>
      <div class="card-number">2</div>
      <div class="card-label">المفضلات</div>
    </div>
  </div>


  <div class="col-12 col-sm-6 col-lg-3">
    <div class="card" style="background: #C6CFD5;">
      <div class="card-icon"><i class="fa-solid fa-thumbtack"></i></div>
      <div class="card-number">19</div>
      <div class="card-label">التعاميم</div>
    </div>
  </div>


 


</div>
